.card {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    
}

.white {
    background-color: white;
    margin-left: 13vh;
    margin-right: 13vh;
    margin-top: -4.2vh;
    padding-bottom: 25px;
    border-radius: 0 0 12px 12px;
    height: 50vh;
    width: 52vh;
    margin-left: auto;
    margin-right: auto;
}
#hero {
    width: 52vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

p {
    color: black;
    opacity: 45%;
    font-size: 16px;
}
#text {
    margin-top: 6vh;
    margin-bottom: -4vh;
    
}

.white h1 {
    top: 4vh;
    font-size: ;
}

.plan {
    align-items: center;
    text-align: center;
    background-color: hsl(225, 100%, 98%);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 7vh;
    padding: 1vh;
    height: 10vh;

}

.plan h3 {
    margin-left: -8vh;
    margin-top: -3.6vh;
    font-size: medium;
}

.plan p { 
    margin-left: -8vh;
    margin-top: -1.5vh;
    font-size: 0.89em;
    
}

.plan a {
    margin-top: 2vh;
    margin-right: 2vh;
    font-size: small;
}

h1 {
    position: relative;
    top: 1vh;
}



body {
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(images/pattern-background-desktop.svg);
}

#music {
    margin-left: -28vh;
    position: relative;
    top: 2.5vh;
    
}

#change {
    position: relative;
    top: -5.9vh;
    margin-left: 30vh;
    text-decoration: none;
}

#hero {
    border-radius: 12px 12px 0 0 ;
}

#proceed {
    margin-top: 5vh;
    width: 42vh;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    border: 0;
    border-radius: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    box-shadow: 1px 19px 10px rgb(230, 223, 247) ;
    transition: all ease-in-out .35s;
}

#cancel {
    position: relative;
    margin-top: 2.5vh;
    border: 0;
    background-color: transparent;
    font-family: 'Red Hat Display', sans-serif;
    opacity: 75%;
    
}

.attribution {
    margin-top: 10vh;
}

#proceed:hover {
    width: 45vh;
    height: 8vh;
    margin-top: 4vh;
    font-size: 1rem;
}

#proceed:active {
    width: 37vh;
    height: 5vh;
    margin-top: 6vh;
    font-size: .5rem;
}

.attribution {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}